@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css?family=Sofia');
@tailwind base;
@tailwind components;
@tailwind utilities;



#titulo {
    font-family: 'Harry Potter', sans-serif;;
}

#nav-item {
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: "Sofia", sans-serif;
}

button {
    font-family: 'Courier New', Courier, monospace; ;
}

footer {
    font-family: 'Courier New', Courier, monospace; ;
}

/* #menu {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: center;
} */

